<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Fragment>
		<StandardDirectory Id="ProgramFiles6432Folder">
			<Directory Id="INSTALLFOLDER"
					   Name="!(bind.Property.Manufacturer)\!(bind.Property.ProductName)" />
		</StandardDirectory>

		<StandardDirectory Id="ProgramMenuFolder">
			<Directory Id="MenuFolder"
					   Name="!(bind.Property.Manufacturer)" />
		</StandardDirectory>
	</Fragment>
</Wix>
